nav
{
    background-color: yellow;

}

#buttonsAB
{
    background-color:deepskyblue;
    color: hotpink;

}
button {
    color: darkolivegreen;
    background-color: antiquewhite;
    border-width: 20px;
    height: 100px;
    width: 150px;
    border-radius: 50px;

}
p
{
    text-align: center;
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-style: italic;
    font-weight: bold;
    color:coral;
    text-decoration-line: line-through;
    text-decoration-color:red;


}